---
import { Icon } from "astro-icon/components";
import ContactForm from "../react/contact/ContactForm";
import SocialMedia from "./SocialMedia.astro";
---

<section id="contact" class="py-10 bg-black text-white/95">
  <div class="container mx-auto px-5">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Content  -->
      <div class="flex items-center justify-center">
        <div class="w-full text-center md:text-left px-3 md:px-0">
          <div class="text-blue-300 font-thin mb-5">CONTACTO</div>
          <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4">
            Agenda una llamada<br /> GRATUITA
          </h2>
          <p class="text-white/65">
            Te interesa alguno de mis servicios? Estaré encantado de darte ideas
            para crecer tu negocio. Envíame un mensaje y en breve me pondré en
            contacto contigo.
          </p>

          <div class="mt-10 w-fit mx-auto md:w-full">
            <ul class="text-white/65 flex flex-col md:ps-2 gap-2 text-sm">
              <li
                class="flex items-center gap-2 justify-center md:justify-start"
              >
                <Icon
                  name="pixelarticons:device-phone"
                  size={18}
                  class="text-purple-600"
                />
                <a
                  href="tel:9932090424"
                  class="hover:text-white transition duration-300 ease-linear"
                  >99 32 09 04 24</a
                >
              </li>
              <li
                class="flex items-center gap-2 justify-center md:justify-start"
              >
                <Icon
                  name="pixelarticons:mail"
                  size={18}
                  class="text-purple-600"
                />
                <a
                  href="mailto:luis.urruela@gmail.com"
                  target="_blank"
                  class="hover:text-white transition duration-300 ease-linear"
                  >luis.urruela@gmail.com</a
                >
              </li>
              <li
                class="flex items-center gap-2 justify-center md:justify-start"
              >
                <Icon
                  name="pixelarticons:message-reply"
                  size={18}
                  class="text-purple-600"
                />
                <a
                  href="https://api.whatsapp.com/send?phone=529932090424&text=Hola%20Luis%2C%20quisiera%20m%C3%A1s%20informaci%C3%B3n..."
                  target="_blank"
                  class="hover:text-white transition duration-300 ease-linear"
                  >Enviar Whatsapp</a
                >
              </li>
            </ul>

            <!-- <SocialMedia /> -->
          </div>
        </div>
      </div>
      <!-- Form -->
      <div class="flex-row items-center justify-center">
        <ContactForm client:load />
      </div>
    </div>
  </div>
</section>
