---
import { Icon } from "astro-icon/components";
import ContactForm from "../react/contact/ContactForm";
---

<section id="contact" class="py-10 bg-black text-white/90">
  <div class="container mx-auto px-5">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Content  -->
      <div class="flex items-center pb-10">
        <div class="w-full text-center md:text-left px-3 md:px-0">
          <h2 class="text-3xl md:text-5xl font-bold mb-4">En Contacto</h2>
          <p class="text-white/65">
            Te interesa alguno de mis servicios? Estaré encantado de ayudarte.
            Envíame un mensaje y en breve me pondré en contacto contigo para
            ponernos de acuerdo.
          </p>

          <div class="mt-10 w-fit mx-auto md:w-full">
            <ul class="text-white/65 flex flex-col md:ps-2 gap-2 text-sm">
              <li
                class="flex items-center gap-2 justify-center md:justify-start"
              >
                <Icon
                  name="pixelarticons:home"
                  size={18}
                  class="text-white/50"
                />
                Tabasco, México
              </li>
              <li
                class="flex items-center gap-2 justify-center md:justify-start"
              >
                <Icon
                  name="pixelarticons:device-phone"
                  size={18}
                  class="text-white/50"
                />
                <a
                  href="tel:9932090424"
                  class="hover:text-white transition duration-300 ease-linear"
                  >99 32 09 04 24</a
                >
              </li>
              <li
                class="flex items-center gap-2 justify-center md:justify-start"
              >
                <Icon
                  name="pixelarticons:mail"
                  size={18}
                  class="text-white/50"
                />
                <a
                  href="mailto:luis.urruela@gmail.com"
                  target="_blank"
                  class="hover:text-white transition duration-300 ease-linear"
                  >luis.urruela@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Form -->
      <div>
        <ContactForm client:load />
      </div>
    </div>
  </div>
</section>
