---
import { Icon } from "astro-icon/components";
---

<div id="footer" class="bg-gray-50 overflow-hidden">
  <div class="container mx-auto text-center py-10">
    <div
      class="logo flex items-center justify-center gap-2 text-black font-bold text-2xl"
    >
      <Icon name="link" size={42} />LINKEA México
    </div>
    <div
      class="py-5 w-full px-5 sm:px-0 sm:w-1/2 mx-auto text-center text-gray-800"
    >
      <p>
        En Linkea México, somos expertos en forjar tu presencia digital. Con una
        trayectoria que supera los 25 años en el diseño y desarrollo web, te
        ofrecemos una base sólida para crecer. Desde Villahermosa, Tabasco,
        impulsamos negocios como el tuyo a través de servicios especializados en
        Diseño Web impactante, Desarrollo de Apps innovadoras y Marketing
        Digital estratégico que genera resultados. Confía en nuestra experiencia
        para Linkear tu marca con el éxito en el ecosistema digital.
      </p>
    </div>

    <nav>
      <ul
        class="flex flex-col md:flex-row justify-center items-center gap-4 md:gap-8 mt-4 text-gray-800 font-semibold text-sm"
      >
        <li>
          <a
            href="#"
            class="hover:text-purple-800 transition duration-300 underline"
            >Términos y condiciones</a
          >
        </li>
        <li>
          <a
            href="#"
            class="hover:text-purple-800 transition duration-300 underline"
            >Políticas de privacidad</a
          >
        </li>
        <li>
          <a
            href="#pricing"
            class="hover:text-purple-800 transition duration-300 underline"
            >Sobre nosotros</a
          >
        </li>
        <li>
          <a
            href="#faq"
            class="hover:text-purple-800 transition duration-300 underline"
            >Planes de Socios</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div
    class="bg-black w-full h-auto py-6 text-gray-500 flex-col items-center justify-center text-xs md:text-sm"
  >
    <p class="mx-3 text-center">LINKEA México | Soluciones Digitales</p>
  </div>
</div>
