---
import { Icon } from "astro-icon/components";
---

<div id="footer" class="bg-gray-50 overflow-hidden">
  <div class="container mx-auto text-center py-10">
    <div
      class="logo flex items-center justify-center gap-2 text-black font-bold text-2xl"
    >
      <Icon name="link" size={42} />LINKEA México
    </div>

    <nav>
      <ul
        class="flex flex-col md:flex-row justify-center items-center gap-2 md:gap-8 mt-4 text-gray-500"
      >
        <li>
          <a href="#" class="hover:text-gray-800 transition duration-300"
            >Términos y condiciones</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-gray-800 transition duration-300"
            >Políticas de privacidad</a
          >
        </li>
        <li>
          <a href="#pricing" class="hover:text-gray-800 transition duration-300"
            >Precios y Planes</a
          >
        </li>
        <li>
          <a href="#faq" class="hover:text-gray-800 transition duration-300"
            >Dudas y consultas</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div
    class="bg-gray-200 w-full h-auto py-6 text-gray-400 flex-col items-center justify-center text-xs md:text-sm"
  >
    <p class="mx-3 text-center">LINKEA México | Soluciones Digitales</p>
  </div>
</div>
