---
import { Icon } from "astro-icon/components";
---

<nav class="bg-white flex items-center justify-center h-20">
  <a href="./" class="text-black font-bold text-2xl flex items-center gap-2">
    <Icon name="link" size={42} />LINKEA México</a
  >
</nav>
