---
import { Icon } from "astro-icon/components";
const services = [
    { title: "SEO" },
    { title: "Logotipos" },
    { title: "Pixeles y Tags" },
    { title: "Campañas de Ads" },
    { title: "Desarrollo Web" },
    { title: "Apps Móviles" },
    { title: "Gestión de Redes Sociales" },
    { title: "Gestión de Sitio Web" },
    { title: "Asistente Virtual" },
    { title: "Copywriting" },
    { title: "Diseño de Contenido" },
    { title: "Hosting" },
];
---

<section id="extra-services" class="py-3 text-black px-2">
    <div
        class="container mx-auto px-2 py-2 md:py-10 md:px-0 border-4 border-black rounded-4xl"
    >
        <div class="grid grid-col-1 md:grid-cols-2 gap-0">
            <div class="flex items-center py-5 lg:px-15 md:ps-5">
                <div class="text-center md:text-start w-full">
                    <h3 class="text-black text-3xl md:text-4xl font-bold mb-2">
                        ¿Necesitas un plan personalizado?
                    </h3>
                    <p class="my-3">Agenda una llamada GRATUITA</p>
                    <div class="mt-5 flex justify-center md:justify-start">
                        <a
                            href="#contact"
                            class="flex items-center gap-2 px-8 py-3 rounded-xl font-semibold bg-black text-white w-fit hover:bg-purple-600 hover:text-white transition-all duration-300"
                            >Agendar una llamada <Icon
                                name="pixelarticons:arrow-right"
                                size={18}
                                class="mt-1"
                            /></a
                        >
                    </div>
                </div>
            </div>
            <div class="px-3 md:p-5 py-3">
                <h3
                    class="text-black text-lg text-center md:text-start font-semibold mb-5"
                >
                    Servicios Adicionales
                </h3>

                <ul class="grid grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-1">
                    {
                        services.map((service) => (
                            <li class="flex items-center mb-1 rounded-md p-1 lg:p-0">
                                <Icon
                                    name="pixelarticons:chevron-right"
                                    size={18}
                                />
                                <span class="text-xs xl:text-base">
                                    {service.title}
                                </span>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
