---
import { Icon } from "astro-icon/components";
---

<section id="hero" class="px-2">
  <div
    data-aos="zoom-in"
    data-aos-delay="300"
    data-aos-duration="1500"
    data-aos-anchor-placement="top-bottom"
    class="container mx-auto bg-black h-[600px] text-white p-8 rounded-3xl flex items-center text-center md:text-start"
  >
    <div class="w-full md:w-3/5 flex flex-col justify-center md:pe-10">
      <h1 class="text-2xl sm:text-4xl md:5xl lg:text-6xl font-bold mb-4">
        Soluciones creativas para el mundo digital
      </h1>
      <p class="my-6 text-gray-300">
        Lleva tu negocio al siguiente nivel con nuestros servicios de diseño web
        y marketing digital. Nos especializamos en crear experiencias únicas y
        efectivas que impulsan tu marca y aumentan tus ventas.
      </p>
      <div class="my-10">
        <a
          href="#pricing"
          class="px-12 py-3 bg-purple-600 text-white font-bold rounded-xs shadow-lg hover:bg-purple-800 transition-all duration-300"
          >Planes y Precios</a
        >
      </div>
      <p class="mt-4 text-gray-300 flex gap-2">
        <Icon name="pixelarticons:heart" size={24} class="text-red-500" />
        crecer negocios, lo vas a notar!
      </p>
    </div>
    <div
      class="relative md:w-2/5 hidden md:flex justify-center items-center bg-cover bg-center bg-no-repeat h-full rounded-2xl shadow-lg overflow-hidden bg-[url('/src/assets/images/social-media-marketing.webp')]"
    >
      <div
        class="absolute top-0 left-0 h-full w-full bg-gradient-to-b via-transparent/95 from-transparent to-black"
      >
      </div>
      <div
        class="absolute top-0 left-0 h-full w-full bg-gradient-to-t from-transparent via-transparent/95 to-black"
      >
      </div>
      <div
        class="absolute top-0 left-0 h-full w-full bg-gradient-to-l from-transparent via-transparent/95 to-black"
      >
      </div>
      <div
        class="absolute top-0 left-0 h-full w-full bg-gradient-to-r from-transparent via-transparent/95 to-black"
      >
      </div>
    </div>
  </div>
</section>
