---
import slide1 from "../../assets/images/projects/web-01.jpg";
import slide2 from "../../assets/images/projects/web-02.jpg";
import slide3 from "../../assets/images/projects/web-03.jpg";
import slide4 from "../../assets/images/projects/web-04.jpg";
import slide5 from "../../assets/images/projects/web-05.jpg";
import slide6 from "../../assets/images/projects/web-06.jpg";
import slide7 from "../../assets/images/projects/web-07.jpg";
import slide8 from "../../assets/images/projects/web-08.jpg";
import slide9 from "../../assets/images/projects/web-09.jpg";
import slide10 from "../../assets/images/projects/web-10.jpg";
import slide11 from "../../assets/images/projects/web-11.jpg";
import slide12 from "../../assets/images/projects/web-12.jpg";

import "swiper/css/bundle";

const slides = [
  slide1,
  slide2,
  slide3,
  slide4,
  slide5,
  slide6,
  slide7,
  slide8,
  slide9,
  slide10,
  slide11,
  slide12,
];
---

<section id="projects" class="py-10 overflow-hidden">
  <div class="w-full">
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        {
          slides.map((slide) => (
            <div class="swiper-slide">
              <img src={slide.src} loading="lazy" />
              <div class="swiper-lazy-preloader" />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    pointer-events: none;
    width: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
  }
</style>

<script>
  import Swiper from "swiper/bundle";
  import { Autoplay } from "swiper/modules";

  const swiper = new Swiper(".swiper", {
    modules: [Autoplay],
    direction: "horizontal",
    loop: true,
    initialSlide: 4,
    speed: 7000,
    autoplay: {
      delay: 0,
      disableOnInteraction: false,
      pauseOnMouseEnter: false,
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      480: {
        slidesPerView: 2,
      },
      768: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 4,
      },
      1440: {
        slidesPerView: 5,
      },
    },
    autoHeight: true,
    slidesPerView: 4,
    spaceBetween: 40,
    freeMode: true,
    allowTouchMove: false,
  });
</script>
