---
import { Icon } from "astro-icon/components";

const services = [
  {
    icon: "style",
    title: "Diseño Web",
    description:
      "Diseño de sitios web innovadores, creativos y ajustables a cualquier dispositivo, tarjetas digitales, landing pages, blogs, comercio electrónico. Tu negocio debe estar en internet ya, y ayudandote a generar ingresos.",
  },
  {
    icon: "digital-marketing",
    title: "Desarrollo Web",
    description:
      "Hagamos de tus redes, algo más que un canal, convertámoslas en una conversación vibrante y auténtica, con creatividad y estrategia, fortaleciendo la relación con tus  seguidores y convirtiéndolos en clientes y embajadores de tu marca.",
  },
  {
    icon: "mobile-features",
    title: "Aplicaciones",
    description:
      "Software a la medida y Aplicaciones móviles. Toma el control de tu empresa desde la palma de tu mano. Automatiza procesos, genera reportes que te ayuden en la toma de decisiones. La  información es poder.",
  },
];
---

<section id="services" class="py-10">
  <div class="container px-2 mx-auto">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-center mb-6">
      Nuestros Servicios
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        services.map((service) => (
          <div class="text-center md:text-start">
            <Icon name={service.icon} size={75} class="mb-3 mx-auto md:mx-0" />
            <h3 class="text-xl font-semibold mb-4">{service.title}</h3>
            <p class="text-gray-700">{service.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
