---
import { Icon } from "astro-icon/components";
---

<section id="services" class="py-10">
  <div class="container mx-auto">
    <h2
      class="text-3xl font-bold text-center mb-6"
      data-aos="fade-up"
      data-aos-duration="3000"
    >
      Nuestros Servicios
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        class="p-6 rounded-2xl shadow-md"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="3000"
      >
        <Icon name="style" size={75} class="mb-3" />
        <h3 class="text-xl font-semibold mb-4">Diseño Web</h3>
        <p class="text-gray-700">
          Diseño de sitios web innovadores, creativos y ajustables a cualquier
          dispositivo, tarjetas digitales, landing pages, blogs, comercio
          electrónico. Tu negocio debe estar en internet ya, y ayudandote a
          generar ingresos.
        </p>
      </div>
      <div
        class="p-6 rounded-2xl shadow-md"
        data-aos="fade-up"
        data-aos-delay="500"
        data-aos-duration="3000"
      >
        <Icon name="digital-marketing" size={75} class="mb-3" />
        <h3 class="text-xl font-semibold mb-4">Marketing Digital</h3>
        <p class="text-gray-700">
          Hagamos de tus redes, algo más que un canal, convertámoslas en una
          conversación vibrante y auténtica, con creatividad y estrategia,
          fortaleciendo la relación con tus seguidores y convirtiéndolos en
          clientes y embajadores de tu marca.
        </p>
      </div>
      <div
        class="p-6 rounded-2xl shadow-md"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="3000"
      >
        <Icon name="mobile-features" size={75} class="mb-3" />
        <h3 class="text-xl font-semibold mb-4">Aplicaciones</h3>
        <p class="text-gray-700">
          Software a la medida y Aplicaciones móviles. Toma el control de tu
          empresa desde la palma de tu mano. Automatiza procesos, genera
          reportes que te ayuden en la toma de decisiones. La información es
          poder.
        </p>
      </div>
    </div>
  </div>
</section>
