---
import customizable from "../../assets/images/animated/customizable.gif";
---

<section id="why-linkea" class="py-10">
    <div
        class="container mx-auto px-2 bg-black text-white/90 rounded-3xl md:py-10"
    >
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5 text-center">
            <div>
                <img
                    src={customizable.src}
                    alt="Diseño Personalizable"
                    class="rounded-full w-40 h-40 mx-auto"
                /><br />
                titulo<br />
                Descripción
            </div>
            <div>
                Icono<br />
                titulo<br />
                Descripción
            </div>
            <div>
                Icono<br />
                titulo<br />
                Descripción
            </div>
            <div>
                Icono<br />
                titulo<br />
                Descripción
            </div>
            <div>
                Icono<br />
                titulo<br />
                Descripción
            </div>
            <div>
                Icono<br />
                titulo<br />
                Descripción
            </div>
        </div>
    </div>
</section>
